@font-face {
    font-family: 'Chronicle Display Semi';
    src: url('ChronicleDisplay-Semi.woff2') format('woff2'),
        url('ChronicleDisplay-Semi.woff') format('woff'),
        url('ChronicleDisplay-Semi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

